parameters:
	level: 6
	paths:
		- src
		- test
	ignoreErrors:
		-
		    identifiers:
		        - argument.type
		        - arrayFilter.empty
		        - identical.alwaysFalse
		    path: src/Validator/VerifyPhoneNumber.php
